body {
	background-image: url('images/background.jpg');
	background-size: cover;
	font-size: 12pt;
}

.header, .footer {
	background-color: #FFF;
	border-top: solid black 1px;
	border-bottom: solid black 1px;
	padding: .5em .4em .5em .4em;
}

.nav {
	background-color: #444444;
	margin: 0em 0em 0em 0em;
	padding: .5em;
}

.nav li, .nav a {
	display: inline;
	color: #FFF;
}

.browse-items, h3, p {
	list-style-type: none;
	padding: 0em;
	margin: 0em;
}